[Desktop Entry]
Encoding=UTF-8
Name=Lien vers F2 - Fiche lecture 2 (03/09/2026)
Type=Link
URL=http://172.18.58.14/ent/public/20262027//CIEL2/INFORMATIQUE/01___PROGRAMMATION_OBJET_EN_C__/COURS_C__/1788422879FICHE_LECTURE_CLASSES_CH2.ODT
Icon=mate-fs-bookmark
