[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Memo - Projet C++ non Qt (01/09/2026)
Type=Link
URL=http://172.18.58.14/ent/public/20262027//CIEL2/INFORMATIQUE/01___PROGRAMMATION_OBJET_EN_C__/COURS_C__/1788261462PROJET_C___NON_QT.ODP
Icon=mate-fs-bookmark
