[Desktop Entry]
Encoding=UTF-8
Name=Lien vers TD1 - Révision C++ - La Poste (01/09/2026)
Type=Link
URL=http://172.18.58.14/ent/public/20262027//CIEL2/INFORMATIQUE/01___PROGRAMMATION_OBJET_EN_C__/TDS_C__/1788249419TD1___REVISIONS_CPP___LA_POSTE.PDF
Icon=mate-fs-bookmark
